<strong>Recuperação de Senha</strong>

<p>Uma solicitação de senha foi enviada para o e-mail ({{ email }}) </p>

<p>Para continuar com a recuperação se senha, utilize o token {{ token }}  </p>

<a href="{{ link }}" >Criar uma nova senha</a>
